<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>AddAttentionChapter</servlet-name>
    <servlet-class>com.blue.newcartoon.AddAttentionChapter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Image</servlet-name>
    <servlet-class>com.blue.newcartoon.Image</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddComics</servlet-name>
    <servlet-class>com.blue.newcartoon.AddComics</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMyWorkAttention</servlet-name>
    <servlet-class>com.blue.newcartoon.DeleteMyWorkAttention</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.blue.newcartoon.Login</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>Danmak</servlet-name>
    <servlet-class>com.blue.newcartoon.Danmak</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>SetAllAttentionChapter</servlet-name>
    <servlet-class>com.blue.newcartoon.SetAllAttentionChapter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetAllComics</servlet-name>
    <servlet-class>com.blue.newcartoon.SetAllComics</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetLookAttentionChapter</servlet-name>
    <servlet-class>com.blue.newcartoon.SetLookAttentionChapter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetMyComics</servlet-name>
    <servlet-class>com.blue.newcartoon.SetMyComics</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetMyLikeComics</servlet-name>
    <servlet-class>com.blue.newcartoon.SetMyLikeComics</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>U_add_Delete_MyLike_attention</servlet-name>
    <servlet-class>com.blue.newcartoon.U_add_Delete_MyLike_attention</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>Parsonal</servlet-name>
    <servlet-class>com.blue.newcartoon.Parsonal</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Danmak</servlet-name>
    <url-pattern>/servlet/Danmak</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>U_add_Delete_MyLike_attention</servlet-name>
    <url-pattern>/servlet/U_add_Delete_MyLike_attention</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetMyLikeComics</servlet-name>
    <url-pattern>/servlet/SetMyLikeComics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetMyComics</servlet-name>
    <url-pattern>/servlet/SetMyComics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetLookAttentionChapter</servlet-name>
    <url-pattern>/servlet/SetLookAttentionChapter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetAllComics</servlet-name>
    <url-pattern>/servlet/SetAllComics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetAllAttentionChapter</servlet-name>
    <url-pattern>/servlet/SetAllAttentionChapter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAttentionChapter</servlet-name>
    <url-pattern>/servlet/AddAttentionChapter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Parsonal</servlet-name>
    <url-pattern>/servlet/Parsonal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Image</servlet-name>
    <url-pattern>/servlet/Image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMyWorkAttention</servlet-name>
    <url-pattern>/servlet/DeleteMyWorkAttention</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddComics</servlet-name>
    <url-pattern>/servlet/AddComics</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>